:root {
  --background: rgba(42, 140, 7, 0.475);
  --btnback: rgba(33, 108, 6, 0.901);
  --font-words: ui-monospace, sans-serif;
  --text: #ffffffd8;
  --textSoft: #d7d9da;
  --btn: rgb(52, 52, 52);
  --textDark: #303030;
  --close: rgb(221, 17, 17);
  --hoverBtn: rgba(27, 72, 109, 0.787);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-words);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  /* width: 100dvw; */
  width: 1536px;
  margin: auto;
  padding: 0 3rem;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}


@media (max-width: 1536px) {
  .container{
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container{
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container{
    width: 1024px;
    padding-left: 1.25rem;
  }
}

@media (max-width: 1024px) {
  .container{
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container{
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container{
    width: 475px;
  }
}